/* General Styling */

body,html {
  height: 100%;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  background-color: rgb(15,9,41);

}

.jumbotron h1 {
  text-transform: uppercase;
}

/*--------------------*/
/* Home Page Styling */
/*------------------*/

.jumbo-home {
  background:linear-gradient(rgba(210, 77, 87, .5), rgba(77, 139, 210, 0.6)), url("../images/macOS.jpeg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.btn-home {
  width: 10em;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid rgba(215, 214, 219, .55);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-home:hover {
  color: #FFF;
  background: rgba(77, 139, 210, 0.6);
  border: 2px solid rgba(77, 139, 210, 0.6);
}

/*---------------------*/
/* About Page Styling */
/*-------------------*/

.jumbo-about {
  background:linear-gradient(rgba(210, 77, 87, .5), rgba(77, 139, 210, 0.6)), url("../images/10-0_10.1.png") center;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}



.btn-about {
  background-color: transparent;
  color: #e6e4ec;
  overflow: visible;
  border: 1px solid rgba(238,232,255,0.57);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  font-weight: 100;
  font-size: .75em;
  letter-spacing: 0px;
  border-radius: 0;
}

.btn-about:hover {
  color: rgb(15,9,41);
  background: rgb(215,215,215);
  border: 1px solid rgba(215, 215, 215, 0.5);

}

#mongo-logo {
  margin-left: 2em;
  margin-right: 2em;
  width: 9em;
  height: 9em;
}

#express-logo {
  margin-left: 2em;
  margin-right: 2em;
  width: 9em;
  height: 9em;
}

#react-logo {
  margin-left: 2em;
  margin-right: 2em;
  width: 9em;
  height: 9em;
}

#node-logo {
  margin-left: 2em;
  margin-right: 2em;
  width: 9em;
  height: 9em;
}

.about-intro {
  font-size: 1.5em;
  margin-left: 15em;
  margin-right: 15em;
  padding-left: 0;
  padding-right: 0;
  color: rgb(215,214,219);
  margin-left: 20em;
  margin-right: 20em;
}

.about-text {
  font-size: 1.5em;
  margin-left: 15em;
  margin-right: 15em;
  padding-left: 0;
  padding-right: 0;
  color: rgb(215,214,219);
  margin-left: 20em;
  margin-right: 20em;
}


/*-------------------------*/
/* Portfolio Page Styling */
/*-----------------------*/

.jumbo-portfolio {
  background:linear-gradient(rgba(210, 77, 87, .5), rgba(77, 139, 210, 0.6)), url("../images/10-2.png") center;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.portfolio-intro {
  margin-left: .1em;
  margin-right: .1em;
  padding-left: 0;
  padding-right: 0;
  color: rgb(215,214,219);
  text-transform: uppercase;
  margin-left: 15em;
  margin-right: 15em;
}

#accordion {
  margin-left: 15em;
  margin-right: 15em;
}

.port-card {
  background-color: transparent;
}

.port-card p {
  color: rgb(215,214,219);

}

.port-card .card-header {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0px;
  border-radius: 0;
  padding-top: .5em;
  padding-bottom: 0;
}

.port-card .card-body {
  padding-top: 0;
  font-weight: 1;
}

.port-card .card-body button {
  border-radius: 0;
}
